@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  background: linear-gradient(
    to right,
    #0f0c29,
    #302b63,
    #24243e
  );
}


*{
  font-family: Poppins;
  font-weight: 700;
  font-style: italic;
}

.animated-border-btn {
  position: relative;
  padding: 12px 28px;
  color: white;
  background: transparent;
  border-radius: 12px;
  font-weight: 500;
  overflow: hidden;
  z-index: 0;
}

.animated-border-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px; /* border thickness */
  border-radius: 12px;
  background: linear-gradient(
    90deg,
    transparent,
    white,
    transparent
  );
  background-size: 300% 300%;
  animation: borderMove 2s linear infinite;
  z-index: -1;
}

/* Inner background so only border shows */
.animated-border-btn::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: #1b102f; /* your button bg color */
  border-radius: 10px;
  z-index: -1;
}

@keyframes borderMove {
  0%   { background-position: 0% 50%; }
  100% { background-position: 300% 50%; }
}
